<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.carbon.mapper.CarbonEnterpriseMapper">

    <resultMap type="CarbonEnterprise" id="CarbonEnterpriseResult">
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="enterpriseAddress"    column="enterprise_address"    />
        <result property="priavateKey"    column="priavate_key"    />
        <result property="enterpriseName"    column="enterprise_name"    />
        <result property="enterpriseBalance"    column="enterprise_balance"    />
        <result property="enterpriseTotalEmission"    column="enterprise_total_emission"    />
        <result property="enterpriseOverEmission"    column="enterprise_over_emission"    />
        <result property="enterpriseCarbonCredits"    column="enterprise_carbon_credits"    />
        <result property="enterpriseVerified"    column="enterprise_verified"    />
        <result property="userType"    column="user_type"    />
        <result property="qualificationId"    column="qualification_id"    />
    </resultMap>


    <select id="selectUserWithEnterpriseEnterpriseName" parameterType="String" resultType="enterpriseVo">
        SELECT ce.*, sys_user.user_name, sys_user.avatar,sys_user.email,sys_user.password,sys_user.phonenumber,sys_user.create_time
        FROM sys_user
                 JOIN carbon_enterprise ce ON sys_user.nick_name = ce.enterprise_name
        WHERE enterprise_name = #{enterprise}
    </select>

    <sql id="selectCarbonEnterpriseVo">
        select enterprise_id, enterprise_address, priavate_key, enterprise_name, enterprise_balance, enterprise_total_emission, enterprise_over_emission, enterprise_carbon_credits, enterprise_verified, user_type, qualification_id from carbon_enterprise
    </sql>

    <select id="selectCarbonEnterpriseList" parameterType="CarbonEnterprise" resultMap="CarbonEnterpriseResult">
        <include refid="selectCarbonEnterpriseVo"/>
        <where>
            <if test="enterpriseAddress != null  and enterpriseAddress != ''"> and enterprise_address = #{enterpriseAddress}</if>
            <if test="priavateKey != null  and priavateKey != ''"> and priavate_key = #{priavateKey}</if>
            <if test="enterpriseName != null  and enterpriseName != ''"> and enterprise_name like concat('%', #{enterpriseName}, '%')</if>
            <if test="enterpriseBalance != null "> and enterprise_balance = #{enterpriseBalance}</if>
            <if test="enterpriseTotalEmission != null "> and enterprise_total_emission = #{enterpriseTotalEmission}</if>
            <if test="enterpriseOverEmission != null "> and enterprise_over_emission = #{enterpriseOverEmission}</if>
            <if test="enterpriseCarbonCredits != null "> and enterprise_carbon_credits = #{enterpriseCarbonCredits}</if>
            <if test="enterpriseVerified != null "> and enterprise_verified = #{enterpriseVerified}</if>
            <if test="userType != null "> and user_type = #{userType}</if>
            <if test="qualificationId != null "> and qualification_id = #{qualificationId}</if>
        </where>
    </select>

    <select id="selectCarbonEnterpriseByEnterpriseId" parameterType="Long" resultMap="CarbonEnterpriseResult">
        <include refid="selectCarbonEnterpriseVo"/>
        where enterprise_id = #{enterpriseId}
    </select>

    <select id="selectCarbonEnterpriseByAddress" parameterType="String" resultMap="CarbonEnterpriseResult">
        <include refid="selectCarbonEnterpriseVo"/>
        <where>
            <if test="enterpriseAddress != null  and enterpriseAddress != ''"> and enterprise_address = #{enterpriseAddress}</if>
        </where>
    </select>

    <select id="selectCarbonEnterpriseByName" parameterType="String" resultMap="CarbonEnterpriseResult">
        <include refid="selectCarbonEnterpriseVo"/>
        <where>
            <if test="enterpriseName != null  and enterpriseName != ''"> and enterprise_name like concat('%', #{enterpriseName}, '%')</if>
        </where>
    </select>

    <select id="selectEnterpriseListByAddress" parameterType="map" resultMap="CarbonEnterpriseResult">
        <include refid="selectCarbonEnterpriseVo"/>
        <where>
            <if test="enterpriseName != null and enterpriseName != ''">
                AND  LIKE CONCAT('%', #{ownerAddress}, '%')
            </if>
            <if test="enterpriseName != null and enterpriseName != ''">
                AND enterpriseName LIKE CONCAT('%', #{sellerAddress}, '%')
            </if>
        </where>
    </select>

    <insert id="insertCarbonEnterprise" parameterType="CarbonEnterprise">
        insert into carbon_enterprise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">enterprise_id,</if>
            <if test="enterpriseAddress != null">enterprise_address,</if>
            <if test="priavateKey != null">priavate_key,</if>
            <if test="enterpriseName != null">enterprise_name,</if>
            <if test="enterpriseBalance != null">enterprise_balance,</if>
            <if test="enterpriseTotalEmission != null">enterprise_total_emission,</if>
            <if test="enterpriseOverEmission != null">enterprise_over_emission,</if>
            <if test="enterpriseCarbonCredits != null">enterprise_carbon_credits,</if>
            <if test="enterpriseVerified != null">enterprise_verified,</if>
            <if test="userType != null">user_type,</if>
            <if test="qualificationId != null">qualification_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">#{enterpriseId},</if>
            <if test="enterpriseAddress != null">#{enterpriseAddress},</if>
            <if test="priavateKey != null">#{priavateKey},</if>
            <if test="enterpriseName != null">#{enterpriseName},</if>
            <if test="enterpriseBalance != null">#{enterpriseBalance},</if>
            <if test="enterpriseTotalEmission != null">#{enterpriseTotalEmission},</if>
            <if test="enterpriseOverEmission != null">#{enterpriseOverEmission},</if>
            <if test="enterpriseCarbonCredits != null">#{enterpriseCarbonCredits},</if>
            <if test="enterpriseVerified != null">#{enterpriseVerified},</if>
            <if test="userType != null">#{userType},</if>
            <if test="qualificationId != null">#{qualificationId},</if>
         </trim>
    </insert>

    <update id="updateCarbonEnterprise" parameterType="CarbonEnterprise">
        update carbon_enterprise
        <trim prefix="SET" suffixOverrides=",">
            <if test="enterpriseAddress != null">enterprise_address = #{enterpriseAddress},</if>
            <if test="priavateKey != null">priavate_key = #{priavateKey},</if>
            <if test="enterpriseName != null">enterprise_name = #{enterpriseName},</if>
            <if test="enterpriseBalance != null">enterprise_balance = #{enterpriseBalance},</if>
            <if test="enterpriseTotalEmission != null">enterprise_total_emission = #{enterpriseTotalEmission},</if>
            <if test="enterpriseOverEmission != null">enterprise_over_emission = #{enterpriseOverEmission},</if>
            <if test="enterpriseCarbonCredits != null">enterprise_carbon_credits = #{enterpriseCarbonCredits},</if>
            <if test="enterpriseVerified != null">enterprise_verified = #{enterpriseVerified},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="qualificationId != null">qualification_id = #{qualificationId},</if>
        </trim>
        where enterprise_id = #{enterpriseId}
    </update>

    <delete id="deleteCarbonEnterpriseByEnterpriseId" parameterType="Long">
        delete from carbon_enterprise where enterprise_id = #{enterpriseId}
    </delete>

    <delete id="deleteCarbonEnterpriseByEnterpriseIds" parameterType="String">
        delete from carbon_enterprise where enterprise_id in
        <foreach item="enterpriseId" collection="array" open="(" separator="," close=")">
            #{enterpriseId}
        </foreach>
    </delete>
</mapper>
