<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.carbon.mapper.EmissionMethodMapper">
    
    <resultMap type="EmissionMethod" id="EmissionMethodResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectEmissionMethodVo">
        select id, name, description from emission_method
    </sql>

    <select id="selectEmissionMethodList" parameterType="EmissionMethod" resultMap="EmissionMethodResult">
        <include refid="selectEmissionMethodVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectEmissionMethodById" parameterType="Long" resultMap="EmissionMethodResult">
        <include refid="selectEmissionMethodVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEmissionMethod" parameterType="EmissionMethod" useGeneratedKeys="true" keyProperty="id">
        insert into emission_method
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateEmissionMethod" parameterType="EmissionMethod">
        update emission_method
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEmissionMethodById" parameterType="Long">
        delete from emission_method where id = #{id}
    </delete>

    <delete id="deleteEmissionMethodByIds" parameterType="String">
        delete from emission_method where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>